:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --primary-color: #4CAF50;
  --secondary-color: #ffffff;
  --border-radius: 5px;
  --font-family: Arial, sans-serif;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  
}
header, main, footer {
  text-align: center;
  margin: 0;
}
main {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
ul {
  list-style-type: none;
  padding: 0;
}
.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
}
.login-container,
.register-container {
  margin: 40px auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
  position: relative;
  cursor: pointer;

}
.error {
  color: #ff0000;
  color: #ff3860;
  font-size: 14px;
  margin-top: 5px;
}
.input-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.input-group label {
  margin-bottom: 10px;
  font-weight: bold; 
}
.input-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
 }
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 70%;
  min-width: 0;
  margin-bottom: 0;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 70%;
  }