<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login ESG Dashboard">
    <title>Login</title>
    <meta name="description" content="Log in to access the ESG Dashboard and explore environmental, social, and governance data.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="input-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="input-group">
                {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <button type="submit" class="button">Sign In</button>
        </form>
    </div>
</body>
</html>